{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        "inline-react-svg",
        [
            "styled-components",
            { //かわらんなーー
                "ssr": true,
                "displayName": true,
                "preprocess": false
            }
        ]
    ]
}